body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background: #333;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  list-style-type: none;
}

li {
  width: 33.33%;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  transition: opacity 0.2s;
}

li:hover {
  opacity: 0.95;
}

button {
  height: 80px;
  width: 100%;
  border: 0px solid #111;
  color: white;
  background: #111;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
  outline: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

button:hover {
  background: #8F4F4A;
  border-bottom: 10px solid #653A37;
  box-shadow: none;
}

.shadow {
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.bar {
  height: 80px;
  width: 100%;
}

#title {
  background: #222;
  text-align: center;
  position: relative;
  z-index: 1;
}

#bodytext {
  min-height: 100%;
  position: relative;
  background: #333;
  margin: 0;
  padding: 1px;
  text-align: center;
}

#titletext {
  line-height: 80px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: #F88379;
}

#notes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: left;
  background: rgba(11, 11, 11, 0.4);
  padding: 5px 18px;
  }

.maintext {
  position: relative;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  word-wrap: break;
  z-index: 0;
}

.textbox-wide {
  text-align: left;
}

.textbox {
  width: 80%;
  margin: 18px auto;
  text-align: left;
}

.shadow-out {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.note-link {
  color: #F88379;
}

p {
  margin: 18px;
}

a {
  text-decoration: none;
}

